@page
@model IndexModel
@{
    ViewData["Title"] = "Reservations";
}
@using Alef.RoomMonitoring.DAL.Model;
@using Alef.RoomMonitoring.DAL.Database.WhereConstraints;

<div class="title">Reservations</div>

<div class="tableWrapper">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Organizer</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservation r in Model.ReservRepo.GetWhere(
                 new NotEqualConstraint(Reservation.RESERVATION_STATUS_ID, ReservationStatus.CLOSED.Id))
                ) {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.TimeFrom.ToLocalTime()</td>
                    <td>@r.TimeTo.ToLocalTime()</td>
                    <td>@((Model.RoomRepo.GetById(r.RoomId)).Name)</td>
                    <td>@(Model.PersRepo.GetById(Model.AttendRepo.GetWhere(
                            new AndConstraint(
                                new EqualConstraint(Attendee.RESERVATION_ID, r.Id),
                                new EqualConstraint(Attendee.ATTENDEE_TYPE_ID, AttendeeType.ORGANIZER.Id)
                            )
                        ).First().PersonId).Name)</td>
                    <td>@(ReservationStatus.GetById(r.ReservationStatusId).Display)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
